<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>D'Andrea Visual Communications.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>494803C71DBE7C5E00FDC777</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>494803DB1DBE7C5E00FDC777</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>494803E61DBE7C5E00FDC777</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
